<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員登録</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<h1>新規会員登録</h1>
	お客様情報
	
	<ul th:if="${errorList}" class="error">
					<li th:each="error:${errorList}" th:text="${error}" style="color: red"></li>
				</ul>

	<form action="/users/add" method="post">
		<table border="1">
			<tr>
				<th>お名前</th>
				<td>
					<input type="text" name="name" th:value="${name}">
				</td>
			</tr>

			<tr>
				<th>e-mail</th>
				<td>
					<input type="text" name="email" th:value="${email}">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="password" name="password">
				</td>
			</tr>
			<!--<tr>
				<th>パスワード(確認)</th>
				<td>
					<input type="text" name="passwordConfirm">
				</td>
			</tr>
-->
		</table>
		<button>登録</button>
	</form>
	
	<hr>


</body>

</html>