<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規レシピ作成</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>


<body>
	<header th:replace="~{header}"></header>
	<h2>レシピ投稿画面</h2>
	
	<p>こんにちは、[[${@account.name}]]さん</p>



	<form action="/recipes/add" method="post">
		<p>
		           カテゴリー
		           <select name="categoryId">
		               <option value="">選択してください</option>
		               <option th:each="category : ${categories}"
		                       th:value="${category.id}"
		                       th:text="${category.name}">
		               </option>
		           </select>
		       </p>

		<p>料理名
			<input type="text" name="name" placeholder="料理名">
		</p>
		<p>説明
			<textarea name="detail" placeholder="作り方"></textarea>

		</p>
		<p>
			<button>投稿</button>

		</p>

	</form>

	<a href="/recipes">レシピ一覧に戻る</a>



</body>

</html>