<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>レシピ一覧</title>
</head>

<body>

	<h1>レシピ一覧</h1>
	<hr>
	レシピ検索
	<form action="/recipes" method="get">
		<input type="text" name="keyword" th:value="${keyword}">
		<button>検索</button>

	</form>
	カテゴリー検索:
	<a href="/recipes">全レシピ</a>

	<!--カテゴリー検索-->

	<th th:each="category:${categories}">


		<a th:href="'/recipes'+${category.name}" th:text="${category.name}">　</a>

	</th>
	<hr>

	<!--料理一覧-->
<table border="2">
	
		<caption>レシピ名</caption>
	
	<tr th:each="recipe:${recipes}">
		<!--<td th:text="${recipe.name}"></td>-->
		<td>
		<a th:href="'/recipes'+${recipe.id}" th:text="${recipe.name}"></a>
		<!--<p th:text="${recipe.name}"></p>-->
		</td>
	</tr>
		
	</table>

</body>

</html>